<section class="container-fluid">
    <div class="container">
        <h2 class="custom_title fw-bolder text-center my-5 ">Promova seu negócio hoje!</h2>

        <div class="container row justify-content-center">
            <ul class="nav nav-pills mb-3 border border-1 rounded-2 col-3 row gap-0 p-0 w-100 mb-5" id="pills-tab" role="tablist">
                <li class="nav-item col-6 p-0" role="presentation">
                    <button class="nav-link active rounded-end-0 w-100 p-1" id="anuncio-tab" data-bs-toggle="pill"
                        data-bs-target="#anuncio" type="button" role="tab" aria-controls="anuncio"
                        aria-selected="true">Anúncios</button>
                </li>
                <li class="nav-item col-6 p-0" role="presentation">
                    <button class="nav-link rounded-start-0 w-100 p-1" id="banner-tab" data-bs-toggle="pill"
                        data-bs-target="#banner" type="button" role="tab" aria-controls="banner"
                        aria-selected="false">Banner</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="anuncio" role="tabpanel" aria-labelledby="anuncio-tab"
                    tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro harum tempora eligendi
                    quo doloribus veritatis sequi dicta placeat alias officiis!</div>
                <div class="tab-pane fade" id="banner" role="tabpanel" aria-labelledby="banner-tab"
                    tabindex="0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit expedita dolorem
                    ducimus? Quisquam, consequuntur?</div>
            </div>
        </div>
    </div>
</section>