<section class="container-fluid m-0 py-5 bg-primary">
    
    <div class="container d-flex justify-content-center  my-5">
        <form [formGroup]="formForgotPassword" (ngSubmit)="submitForm()" class="row justify-content-center gap-3 py-4 px-3 border border-1 rounded-2 bg-white shadow show-animation">
            <h2 class="fs-4 text-center custom-dark my-2 mb-4">Recuperação de senha</h2>

            <div class="w-100">
                <div class="position-relative">
                    <input type="email" name="email" id="email" class="form-control custom_focus invalid_input custom_placeholder rounded-1" formControlName="email" [ngClass]="{'invalid_input': formForgotPassword.get('email')?.invalid && formForgotPassword.get('email')?.touched}" placeholder="Digite seu e-mail...">
                    <i class="bi bi-person position-absolute icon_user fs-4 text-black-50"></i>
                </div>
                <div *ngIf="formForgotPassword.get('email')?.hasError('required') && formForgotPassword.get('email')?.touched" class="text-danger">
                    Digite seu e-mail.
                </div>
            </div>

            <div class="w-100">
                <button class="btn btn-primary fw-semibold w-100 d-flex justify-content-center rounded-1" [disabled]="loadSpinner">
                    <span *ngIf="!loadSpinner">Enviar</span>
                    <div *ngIf="loadSpinner" class="spinner-border spinner-border custom_spinner_btn m-0 text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>

            <div>
                <hr class="text-secondary">
            </div>

            <div class="d-flex flex-column text-center gap-1 custom-dark">
                <p>Lembrou da sua senha? <a [routerLink]="['/app/login']" class="link_outline_none">Entrar</a></p>
            </div>
        </form>
    </div>

    <ng-template #success let-modal>
        <div class="d-flex justify-content-end rounded-top">
            <i class="bi bi-x-lg fs-5 p-2 text-black-50 cursor_pointer" aria-label="Close" (click)="modal.dismiss('Cross click')"></i>
        </div>
    
        <div class="p-3">
            <div class="d-flex flex-column align-items-center gap-2">
                <div>
                    <span class="material-symbols-outlined text-success icon_check">
                        done_outline
                    </span>
                </div>
                <div class="p-2">
                    <p class="fs-5">Enviamos uma nova senha temporária para o seu e-mail.</p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button (click)="redirectToLogin()" class="btn btn-primary">
                    Entrar
                </button>
            </div>
        </div>
        
    </ng-template>

    <!-- <app-alerts *ngFor="let alerts of alert" [type]="alerts.type" [description]="alerts.description"></app-alerts> -->
</section>
<app-footer-2></app-footer-2>