<footer class="bg-gray-200 pt-4 pb-1 p-2">
    <div class="container">
        <div class="row gap-4">
            <div class="col-5 logo_footer">
                <div class="h-100 w-100 d-flex flex-column justify-content-center text-center">
                    <a class="navbar-brand" href="#">
                        <div class="my_logo d-flex align-items-center justify-content-center">
                            <i class="bi bi-geo-alt-fill text-dark fs-3 "></i>
                            <span class="fs-5 fw-bold text-dark">GuiaAgudos</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <h4 class="text-dark  fs-5">Navegação</h4>

                <div class="row">
                    <ul class="navbar-nav col px-3">
                        <li class="nav-item">
                            <a [routerLink]="['/app']" class="nav-link text-dark">Home</a>
                            <a [routerLink]="['/app/anunciantes']" class="nav-link text-dark">Anúncios</a>
                            <a href="#" class="nav-link text-dark">Eventos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav col px-3">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-dark">Empregos</a>
                            <a href="#" class="nav-link text-dark">Blog</a>
                            <a href="#" class="nav-link text-dark">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr class="text-dark hr_social_media">
            <div class="col">
                <h4 class="text-dark text-center fs-5">Redes sociais</h4>
                <div class="d-flex gap-3 justify-content-center ">
                    <a href="#"><i class="bi bi-whatsapp text-dark fs-3"></i></a>
                    <a href="#"><i class="bi bi-instagram text-dark fs-3"></i></a>
                    <a href="#"><i class="bi bi-facebook text-dark fs-3"></i></a>
                </div>
            </div>
        </div>
        <hr class="text-dark">
        <div class="text-center">
            <p class="text-dark fw-semibold opacity-75">Created by:
                <a href="https://br.linkedin.com/in/douglas-martins-a36a45185" class="text-dark link-offset-2 link-underline link-underline-opacity-0">Douglas Wellington
                    Martins
                </a>
            </p>
        </div>
    </div>
</footer>