.img_container  {
    overflow: hidden;
    position: relative;
}

.img_listing {
    object-fit: cover;
    width: 100%;
}

.card_listing:hover .img_listing {
    transform: scale(1.03);
}

.listing_title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing_description {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.custom_spinner {
    border: 6px solid #4e66f8;
    border-right-color: transparent;
}

.img-notFound {
    width: 100%;
    max-width: 270px;
}

@media screen and (max-width: 100px) {
    
}

.sarch_listing {
    padding-left: 30px;
}
.icon_sarch_listing {
    top: 30%;
    left: 12px;
    transform: translate(-30%);
}