<section class="container-fluid pt-2 pb-5 bg-ice-white">
    <div class="container py-4">
        <h6 class="letter-spacing-2 text-primary fw-bolder text-center mt-4">EXPERIMENTE ALGO NOVO HOJE</h6>
        <h3 class="custom-dark fw-bolder text-center mb-5">Melhores anunciantes para você</h3>
        <hr class="custom-hr-dark">

        @if (queryParams.keywords) {
            <h4 class="custom-dark fw-semibold mb-4">Buscar por: <span class="fw-normal">{{ queryParams.keywords }}</span></h4>
        }

        @if (categoryParamsSearch.length) {
            <h4 class="custom-dark fw-semibold mb-4">Buscar por: <span class="fw-normal">{{ categoryParamsSearch[0].cat_name }}</span></h4>
        }

        <form class="row py-3" (submit)="searchListingByFilter()">
            <div class="col-12 col-sm-12 col-md-4 mb-3">
                <label for="keywords" class="custom-subtitle-dark letter-spacing-1 mb-1">PALAVRA-CHAVE</label>
                <input type="text" name="keywords" id="keywords" [(ngModel)]="filters.keywords" class="form-control custom_focus custom_placeholder bg-transparent" placeholder="Palavras-chaves">
            </div>
            <div class="col-12 col-sm-12 col-md-4 mb-3">
                <label for="category" class="custom-subtitle-dark letter-spacing-1 mb-1">CATEGORIA</label>
                <select name="category" id="category" [(ngModel)]="filters.category" class="form-select custom_focus bg-transparent">
                    <option value=""></option>
                    <option *ngFor="let category of categories" value="{{ category.id }}">
                        {{ category.cat_name }}
                    </option>
                </select>
            </div>
            <div class="col-12 d-flex gap-2">
                <button type="submit" class="letter-spacing-1 btn btn-primary btn-sm"><i class="fa-solid fa-filter me-1"></i>FILTRAR</button>
                <button (click)="cleanFilters()" type="button" class="btn btn-light border btn-sm"><i class="fa-solid fa-eraser me-1"></i>LIMPAR</button>
            </div>
        </form>
        
        <hr class="custom-hr-dark">

        @if (listings.length) {
            <div class="row gap-sm-1 mb-3">
                <div class="col-12 col-sm-8 col-md-5">
                    <div class="input-group">
                        <span class="material-symbols-outlined input-group-text">
                            search
                        </span>
                        <input [(ngModel)]="searchItem" type="text" (input)="searchListingFilter()"
                            class="form-control custom_focus custom_placeholder bg-transparen" placeholder="Buscar anúncio...">
                    </div>
                </div>
            </div>
        }

        @if (searching) {
            <div class="d-flex align-items-center">
                <div class="spinner-border text-primary custom_spinner" role="status"></div>
                <h4 class="ms-2 m-0 custom-dark fw-bolder">Buscando anúncios, aguarde...</h4>
            </div>
        } @else if(searchItensListing.length) {
            @if (searchItensListing.length == 1) {
                <p class="fw-bold">{{ searchItensListing.length }} <span>resultado encontrado</span></p>
            } @else {
                <p class="fw-bold">{{ searchItensListing.length }} <span>resultados encontrados</span></p>
            }
    
            <div class="py-1 row show-animation">
                <div *ngFor="let listing of searchItensListing" class="p-3 col-12 col-sm-6 col-md-12 col-lg-6 cursor_pointer card_listing">
                    <div class="card border-0 shadow">
                        <div class="row g-0">
                            <div class="col-md-4" (click)="viewListing(listing)">
                                <img [src]="listing.logoImage" class="img-fluid img_listing rounded" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body pt-2">
                                    <h5 class="card-title fw-bold listing_title" (click)="viewListing(listing)" [ngbTooltip]="listing.title">{{ listing.title }}</h5>
                                    <p class="card-text custom-subtitle-dark listing_description mb-2" (click)="viewListing(listing)" [ngbTooltip]="listing.summary">{{ listing.summary }}</p>
    
                                    @if (listing.phone) {
                                        <a class="link_outline_none custom-subtitle-dark fs-7" href="https://wa.me/{{listing.phone}}" target="_blank">
                                            <i class="bi bi-whatsapp me-2"></i>
                                            <span class="fs-7 fw-light">{{ listing.phone }}</span>
                                        </a>
                                    }
                                    
                                    @if (listing.email) {
                                        <div class="text-dark d-flex align-items-center">
                                            <i class="bi bi-envelope me-2 fs-7"></i>
                                            <span class="fs-6 fw-light text-break custom-subtitle-dark">{{ listing.email }}</span>
                                        </div>
                                    }
    
                                    @if (listing.address) {
                                        <div class="text-dark">
                                            <i class="bi bi-geo-alt-fill fs-7 px-0 me-1"></i>
                                            <span class="fs-7 fw-light custom-subtitle-dark">
                                                <span *ngIf="listing.address">{{ listing.address }}</span>
                                                <span *ngIf="listing.city">, {{ listing.city }}</span>
                                                <span *ngIf="listing.state">, {{ listing.state }}</span>
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        } @else if(!searchItensListing.length){
            <div class="d-flex flex-column align-items-center show-animation">
                <h2 class="custom-dark fw-bolder text-center">Nenhum anúncio encontrado!</h2>
                <img src="../../../../assets/img/notFound.png" class="img-notFound" alt="Nenhum resultado encontrado">
            </div>
        }
    </div>
</section>
<app-footer></app-footer>