.card_categories {
    max-height: 40px;
}

@media screen and (max-width: 1400px) {
    .card_categories {
        max-height: none;
    }
}

.list_categories:hover {
    color: var(--custom-hover-black) !important;
}

section {
    background-color: var(--custom-light-gray);
}

.custom_search:focus {
    box-shadow: var(--custom-input-box-shadow);
}

@media screen and (max-width: 576px) {
    .img_listing {
        padding: 10px;
        border-radius: 25px !important;
    }
}

@media screen and (min-width: 768px) {
    .img_listing {
        max-height: 180px;
    }
}