.img_container  {
    overflow: hidden;
    position: relative;
}

.img_listing {
    object-fit: cover;
    width: 100%;
}

/* .card_listing:hover .img_listing {
    transform: scale(1.03);
} */

.listing_title {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.listing_description {
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.custom_spinner {
    border: 6px solid #4e66f8;
    border-right-color: transparent;
}

.img-notFound {
    width: 100%;
    max-width: 270px;
}

.sarch_listing {
    padding-left: 30px;
}
.icon_sarch_listing {
    top: 30%;
    left: 12px;
    transform: translate(-30%);
}

.custom-rating {
    font-size: 32px;
    color: #f5f50c;
    z-index: 9999;
    bottom: 1px;
}

.rating_gradient {
    background: linear-gradient(to bottom, #ffffff00, #000000c5);
}



@media screen and (max-width: 576px) {
    .custom-rating {
        font-size: 70px;
    }
}

@media screen and (max-width: 480px) {
    .custom-rating {
        font-size: 60px;
    }
}

@media screen and (max-width: 400px) {
    .custom-rating {
        font-size: 45px;
    }
}

@media screen and (max-width: 300px) {
    .rating {
        font-size: 30px;
    }
}