<app-carousel></app-carousel>
<app-listing-category></app-listing-category>
<app-banner-promover></app-banner-promover>
<section class="container-fluid show-animation-2">
    <div class="container py-2 py-sm-5">
        <h2 class="custom-dark fw-semibold text-center mb-5 fs-3">Pesquisa rápida e fácil</h2>
        <div class="row justify-content-between">
            <div class="col-lg-4 col-md-6 mb-4 ">
                <div class="card border shadow h-100">
                    <div class="card-body p-4">
                        <h5 class="custom-dark fw-semibold">Escolha uma categoria</h5>
                        <p class="text-dark-emphasis">Personalize sua experiência de descoberta! Selecione uma categoria e explore por anúncios relacionados, tornando a experiência de descoberta mais fácil e eficiente. Encontre o que você procura agora!</p>
                        <a [routerLink]="['/anunciantes/categorias']" class="text-primary link-underline link-underline-opacity-0 link-offset-3-hover link-underline-opacity-50-hover">Veja mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card border shadow h-100">
                    <div class="card-body p-4">
                        <h5 class="custom-dark fw-semibold">Encontre por locais</h5>
                        <p class="text-dark-emphasis">Explore por anúncios específicos em Agudos, navegue por anúncios relevantes, conectando-se com o que está acontecendo na sua cidade. Encontre ótimas opções localmente!</p>
                        <a [routerLink]="['/anunciantes']" class="text-primary link-underline link-underline-opacity-0 link-offset-3-hover link-underline-opacity-50-hover">Veja mais</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="card border shadow h-100">
                    <div class="card-body p-4">
                        <h5 class="custom-dark fw-semibold">Mais procurados</h5>
                        <p class="text-dark-emphasis">Descubra o que está em alta agora! Explore nossa seleção dos itens mais procurados e populares. De produtos a serviços, essas escolhas são as favoritas da nossa comunidade. Não perca a oportunidade de encontrar algo especial e em demanda.</p>
                        <a [routerLink]="['/anunciantes']" class="text-primary link-underline link-underline-opacity-0 link-offset-3-hover link-underline-opacity-50-hover">Veja mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>