nav {
    box-shadow: 0 0 1rem rgba(0,0,0,.15)!important;
}

.logged_small {
    display: none;
}

@media screen and (max-width: 992px) {
    .logged_small {
        display: flex;
    }

    .logged_large {
        display: none;
    }
}