.alert_content {
    position: fixed;
    left: 15px;
    bottom: 0;
    animation: slideIn 0.3s ease-out;
    z-index: 999999;
}

.alert {
    display: flex;
    align-items: center;
    gap: 9px;
    padding: 8px;
    border-radius: 5px;
    box-shadow: var(--box-shadow-alerts);
    font-weight: 600;
    max-width: 300px;
}

.alert-info {
    background-color: #e6b927;
    color: #303030;
    border: 1px solid #d1a820;
}

.alert-success {
    background-color: #34a73d;
    color: #fff;
    border: 1px solid #2e9236;
}

.alert-error {
    background-color: #d13030;
    color: #fff;
    border: 1px solid #b83232;
}

.alert_content.slideOut {
    animation: slideOut 0.5s ease-in;
}

i {
    font-size: 24px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-800px);
        opacity: 0;
    }
}