<section class="container-fluid m-0 py-3 bg-primary">

    <!-- <h2 class="fs-1 text-center my-4">Criar conta</h2> -->
    
    <div class="container d-flex justify-content-center my-5">
        <form [formGroup]="formRegister" (ngSubmit)="submitForm()" class="row justify-content-center gap-3 py-4 px-3 border border-1 rounded-2 bg-white shadow show-animation" enctype="multipart/form-data">

            <div class="w-100">
                <label for="imagemInput" class="d-flex justify-content-center">
                  <img id="previewImage" class="img-fluid" *ngIf="previewPhoto" [src]="previewPhoto" alt="Preview da Imagem" >
                  <div *ngIf="!previewPhoto" class="placeholder z-3" >
                    <p class="text-dark m-0">Selecionar imagem</p>
                  </div>
                </label>
                <input type="file" id="imagemInput" (change)="previewImage($event)" style="display: none;" accept="image/*">
            </div>
            
            <div class="w-100">
                <div class="position-relative">
                    <input type="text" name="name" id="name" class="form-control custom_focus invalid_input custom_placeholder rounded-1" formControlName="name" [ngClass]="{'invalid_input': formRegister.get('name')?.invalid && formRegister.get('name')?.touched}" placeholder="Nome">
                </div>
                <div *ngIf="formRegister.get('name')?.hasError('required') && formRegister.get('name')?.touched" class="text-danger msg_alert opacity-75">
                    Digite seu nome.
                </div>
            </div>

            <div class="w-100">
                <div class="position-relative">
                    <input type="text" name="lastName" id="lastName" class="form-control custom_focus invalid_input custom_placeholder rounded-1" formControlName="lastName" [ngClass]="{'invalid_input': formRegister.get('lastName')?.invalid && formRegister.get('lastName')?.touched}" placeholder="Sobrenome">
                </div>
                <div *ngIf="formRegister.get('lastName')?.hasError('required') && formRegister.get('lastName')?.touched" class="text-danger msg_alert opacity-75">
                    Digite seu Sobrenome.
                </div>
            </div>

            <div class="w-100">
                <div class="position-relative">
                    <input type="email" name="email" id="email" class="form-control custom_focus invalid_input custom_placeholder rounded-1" formControlName="email" [ngClass]="{'invalid_input': formRegister.get('email')?.invalid && formRegister.get('email')?.touched}" placeholder="Seu e-mail">
                </div>
                <div *ngIf="formRegister.get('email')?.hasError('required') && formRegister.get('email')?.touched" class="text-danger msg_alert opacity-75">
                    Digite seu e-mail.
                </div>
            </div>
            <div class="w-100">
                <div class="position-relative">
                    <input [type]="showPassword" name="password" id="password" class="form-control custom_focus custom_placeholder rounded-1" formControlName="password" [ngClass]="{'invalid_input': formRegister.get('password')?.invalid && formRegister.get('password')?.touched}" placeholder="Senha">
                    <i (click)="viePassword()" [class]="icon_password" class="cursor_pointer position-absolute icon_password fs-4 text-black-50"></i>
                </div>
                <div *ngIf="formRegister.get('password')?.hasError('required') && formRegister.get('password')?.touched" class="text-danger msg_alert opacity-75">
                    Digite sua senha.
                </div>
            </div>

            <div class="w-100">
                <button class="btn btn-primary fw-semibold w-100 d-flex justify-content-center rounded-1" [disabled]="loadSpinner">
                    <span *ngIf="!loadSpinner">Criar conta</span>
                    <div *ngIf="loadSpinner" class="spinner-border spinner-border custom_spinner_btn m-0 text-light" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>

            <div>
                <hr class="text-secondary m-0">
            </div>

            <div class="d-flex flex-column text-center gap-1 ">
                <p class="custom-dark-gray">Já possui conta? <a [routerLink]="['/login']" class="link_outline_none">Entrar</a></p>
            </div>
        </form>
    </div>

    <ng-template #register let-modal>
        <div class="d-flex justify-content-end rounded-top">
            <i class="bi bi-x-lg fs-5 p-2 text-black-50 cursor_pointer" aria-label="Close" (click)="modal.dismiss('Cross click')"></i>
        </div>
    
        <div class="p-3">
            <div class="d-flex flex-column align-items-center gap-2">
                <div>
                    <span class="material-symbols-outlined text-success icon_check">
                        done_outline
                    </span>
                </div>
                <div class="p-2">
                    <p class="fs-5">Sua conta foi criada com sucesso.</p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button (click)="redirectToLogin()" class="btn btn-primary">
                    Entrar
                </button>
            </div>
        </div>
        
    </ng-template>

</section>
<app-footer-2></app-footer-2>
<app-alerts *ngFor="let alerts of alert" [type]="alerts.type" [description]="alerts.description"></app-alerts>