<section class="container-fluid px-0">
    <!-- Banner -->
    <div class="bg-primary img_banner position-relative ">
        <img class="img_banner img-fluid " src="../../../assets/img/listing-info/martins_refrigeracao.jpg" alt="">
        <div class="shadow_img">
            <div class="container">
                <div class="row py-4 pt-3 pt-xl-5">
                    <div class="col-12 col-xl-1 rounded d-flex d-xl-block justify-content-center mb-2">
                        <img class="img_logo img-fluid rounded-1" src="../../../assets/img/no-image-user.jpg" alt="">
                    </div>
                    <div class="col-12 col-xl-7 d-flex flex-column align-items-center align-items-xl-start px-3 text-center text-xl-start">
                        <h2 class="fs-1 text-white fw-semibold">Martins Refrigeração</h2>
                        <p class="fs-6 text-white">Consertos em maquinas de lavar e geladeiras.</p>
                        <span class="assessments d-flex flex-column flex-sm-row justify-content-center align-items-center gap-sm-2 mb-2 mb-sm-4 ">
                            <p class="text-white fw-bold fs-5 mb-0">5,0</p>
                            <div>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star fs-5"></i>
                            </div>
                            <p class="text-white mb-0 ms-2">1 avaliação</p>
                        </span>
                        <div class="d-flex gap-2">
                            <button (click)="OpenModalUserAssessment()" class="btn btn-primary rounded-1">Avalie</button>
                            <button class="btn text-white border rounded-1">Contato</button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 d-none d-xl-block px-3">
                        <a class="link_outline_none text-white fs-5 fw-semibold d-flex align-items-center mb-3" href="https://wa.me/14991882505" target="_blank"><i class="bi bi-whatsapp me-2 fs-5"></i>
                            <span class="fs-5 fw-semiboldt">14991882505</span>
                        </a>
                        <p class="text-white fs-5 fw-semibold d-flex align-items-center "><i class="bi bi-geo-alt-fill me-2"></i>Nivaldo Bertolo 542</p>
                        <p class="text-white fs-5 fw-semibold d-flex align-items-center "><i class="bi bi-envelope me-2"></i>douglas5422&#64;outlook.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <div class="container">
        <div class="col-12 py-4 d-xl-none">
            <a class="link_outline_none text-dark fs-5 fw-semibold d-flex align-items-center mb-3" href="https://wa.me/14991882505" target="_blank"><i class="bi bi-whatsapp me-2 fs-5"></i>
                <span class="fs-6 fw-semiboldt">14991882505</span>
            </a>
            <p class="text-dark fs-6 fw-semibold d-flex align-items-center "><i class="bi bi-geo-alt-fill me-2"></i>Nivaldo Bertolo 542</p>
            <p class="text-dark fs-6 fw-semibold d-flex align-items-center text-break"><i class="bi bi-envelope me-2"></i>douglas5422&#64;outlook.com</p>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row gap-1 my-xl-5 justify-content-between">
            <div class="col-12 col-sm-7">
                <!-- about -->
                <h5 class="text-dark text-opacity-50 mb-3">Sobre</h5>

                <div class="long_description">
                    <p class="fw-semibold text-dark text-opacity-75">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed diam sed massa mollis facilisis. Aliquam sollicitudin, ligula sit amet egestas lacinia, diam elit vulputate risus
                        nec imperdiet arcu turpis vitae ante. Nunc porta pellentesque felis, a bibendum velit bibendum eu. Etiam ullamcorper ex eros, vitae auctor lorem blandit non. Donec venenatis varius dui in auctor. Donec elit ex, elementum et elementum quis, vulputate sed turpis.
                    </p>

                    <p class="fw-semibold text-dark text-opacity-75">
                        am et quam nisi. Sed mi elit, imperdiet eu lacus at, viverra gravida nunc. Pellentesque pellentesque vestibulum venenatis. Nullam sapien leo, fermentum dictum dui id, porta tempus turpis. Nullam posuere lorem fermentum, lacinia est in, porttitor nibh. Vestibulum non neque eu sem accumsan dapibus eget ut velit.
                    </p>

                    <p class="fw-semibold text-dark text-opacity-75">
                        Praesent ullamcorper, nunc nec malesuada pulvinar, est odio maximus ipsum, eget facilisis erat ligula id purus. Quisque tincidunt nisi ipsum, eu rutrum orci ultricies at.
                    </p>
                </div>
            
            </div>
            <div class="col-12 col-sm-4">
                <!-- hours -->
                <h5 class="text-dark text-opacity-50 my-3">Horas</h5>
                <div>
                    <p (click)="toggleIconOpeningHours()" class="text-danger fw-semibold text-opacity-75 d-flex align-items-center cursor_pointer" data-bs-toggle="collapse" href="#openingHours" role="button" aria-expanded="false" aria-controls="openingHours">
                        Fechado agora
                        <i [class.bi-plus]="!iconCategories" [class.bi-dash]="iconCategories" class="bi fs-4 ms-2"></i>
                    </p>
                    <div class="collapse bg-white bg-opacity-50 w-100 px-2" id="openingHours">
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">DOM fechado</p>
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">SEG 08:00 - 18:00</p>
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">TER 08:00 - 18:00</p>
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">QUA 08:00 - 18:00</p>
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">QUI 08:00 - 18:00</p>
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">SEX 08:00 - 18:00</p>
                        <p class="mb-1 fw-semibold text-dark text-opacity-75">SAB 08:00 - 12:00</p>
                    </div>
                </div>
                <hr>
                <div>
                    <p class="text-dark text-opacity-75">Localização</p>
                    <p class="fw-semibold text-dark text-opacity-75">Nivaldo Bertolo 542 Agudos SP</p>
                </div>
                <hr>
                <div>
                    <p class="text-dark text-opacity-75">redes sociais:</p>
                    <div class="d-flex justify-content-between gap-1 social_media_content">
                        <a href="#" class="rounded-circle bg-primary text-white"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="rounded-circle bg-primary text-white"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="rounded-circle bg-primary text-white"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="rounded-circle bg-primary text-white"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h5 class="text-dark text-opacity-50 my-3">Fotos em destaque</h5>
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-4 col-md-3 col-xl-2 p-2" *ngFor="let img of galleryImages; let i = index" (click)="openLightbox(i)">
                        <img class="img-fluid" [src]="img" alt="Imagem {{ i + 1 }}">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h5 class="text-dark text-opacity-50 my-5">Comentários</h5>
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex mb-4">
                        <div>
                            <img class="img-fluid rounded-circle img_user" src="../../../assets/img/no-image-user.jpg" alt="Usuário">
                        </div>
                        <div class="">
                            <div class="ms-3">
                                <h6 class="fs-5 fw-semibold text-primary text-opacity-75 mb-0">Douglas Martins</h6>
                                <div class="d-sm-flex align-items-center mb-2">
                                    <span class="text-dark opacity-75 ">18 de janeiro 2024</span>
                                    <div class="ms-0 ms-sm-2 user_assessments">
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star fs-6"></i>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-dark fw-semibold opacity-75">Ótimos profissionais, minha maquina de lavar esta perfeita agora.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 d-flex">
                        <div>
                            <img class="img-fluid rounded-circle img_user" src="../../../assets/img/no-image-user.jpg" alt="Usuário">
                        </div>
                        <div class="">
                            <div class="ms-3">
                                <h6 class="fs-5 fw-semibold text-primary text-opacity-75 mb-0">Tatiane Oliva</h6>
                                <div class="d-sm-flex align-items-center mb-2">
                                    <span class="text-dark opacity-75 ">14 de janeiro 2024</span>
                                    <div class="ms-0 ms-sm-2 user_assessments">
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star-fill fs-6"></i>
                                        <i class="bi bi-star fs-6"></i>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-dark fw-semibold opacity-75">Minha geladeira esta gelando muito agora, está ótimo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-template #modalAssessment let-c="close" let-d="dismiss">
        <div class="position-relative banner_assessment mb-5">
            <img class="img-fluid rounded-top h-100" src="../../../assets/img/listing-info/martins_refrigeracao.jpg" alt="Capa">
            <i class="fs-4 bi bi-x-lg position-absolute close_modal_assessment text-white cursor_pointer" aria-label="Close" (click)="d('Cross click')"></i>
            <img class="img-fluid rounded-pill position-absolute logo_assessments" src="../../../assets/img/no-image-user.jpg" alt="logo">
            <div class="shadow_img_assessments"></div>
        </div>

        <h5 class="fs-3 text-dark fw-semibold opacity-75 text-center">Martins Refrigeração</h5>
        <h6 class="fs-4 text-dark fw-semibold opacity-75 text-center">Sua nota</h6>
        <div class="d-flex justify-content-center user_assessments">
            <i class="bi bi-star-fill fs-3 cursor_pointer"></i>
            <i class="bi bi-star-fill fs-3 cursor_pointer"></i>
            <i class="bi bi-star-fill fs-3 cursor_pointer"></i>
            <i class="bi bi-star-fill fs-3 cursor_pointer"></i>
            <i class="bi bi-star fs-3 cursor_pointer"></i>
        </div>

        <form class="p-4">
            <textarea class="form-control custom_focus mb-3" name="" id="" rows="4"></textarea>
            <div class="d-flex gap-2 justify-content-center">
                <button class="btn btn-primary rounded-1 fw-semibold">Enviar</button>
                <button class="btn btn-light rounded-1 text-dark fw-semibold opacity-75 border">Cancelar</button>
            </div>
        </form>
    </ng-template>
</section>