<section class="container-fluid px-0">
    <!-- Banner -->
    <div class="bg-primary img_banner position-relative ">
        <img class="img_banner img-fluid " src="../../../assets/img/listing-info/martins_refrigeracao.jpg" alt="">
        <div class="shadow_img">
            <div class="container">
                <div class="row gap-3 py-4 pt-5">
                    <div class="col-1 rounded ">
                        <img class="img_logo img-fluid rounded-1" src="../../../assets/img/no-image-user.jpg" alt="">
                    </div>
                    <div class="col-10 d-flex flex-column gap-2">
                        <h5 class="fs-1 text-white fw-semibold">Martins Refrigeração</h5>
                        <p class="fs-5 text-white">Consertos em maquinas de lavar e geladeiras.</p>
                        <p class="assessments d-flex align-items-center gap-2 mb-4">
                            <span class="text-white fw-bold fs-5">5,0</span>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </p>
                        <div class="d-flex gap-2">
                            <button class="btn btn-primary rounded-1">Avalie</button>
                            <button class="btn text-white border rounded-1">Contato</button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- contacts -->
            </div>
        </div>
    </div>
</section>