<section class="container-fluid px-0">
    <!-- Banner -->
    <div class="bg-primary img_banner position-relative ">
        <img class="img_banner img-fluid " src="../../../assets/img/listing-info/martins_refrigeracao.jpg" alt="">
        <div class="shadow_img">
            <div class="container">
                <div class="row py-4 pt-3 pt-xl-5">
                    <div class="col-12 col-xl-1 rounded d-flex d-xl-block justify-content-center mb-2">
                        <img class="img_logo img-fluid rounded-1" src="../../../assets/img/no-image-user.jpg" alt="">
                    </div>
                    <div class="col-12 col-xl-7 d-flex flex-column align-items-center align-items-xl-start px-3 text-center text-xl-start">
                        <h2 class="fs-1 text-white fw-semibold">Martins Refrigeração</h2>
                        <p class="fs-6 text-white">Consertos em maquinas de lavar e geladeiras.</p>
                        <span class="assessments d-flex flex-column flex-sm-row justify-content-center align-items-center gap-sm-2 mb-2 mb-sm-4 ">
                            <p class="text-white fw-bold fs-5 mb-0">5,0</p>
                            <div>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star-fill fs-5"></i>
                                <i class="bi bi-star fs-5"></i>
                            </div>
                            <p class="text-white mb-0 ms-2">1 avaliação</p>
                        </span>
                        <div class="d-flex gap-2">
                            <button class="btn btn-primary rounded-1">Avalie</button>
                            <button class="btn text-white border rounded-1">Contato</button>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 d-none d-xl-block px-3">
                        <a class="link_outline_none text-white fs-5 fw-semibold d-flex align-items-center mb-3" href="https://wa.me/14991882505" target="_blank"><i class="bi bi-whatsapp me-2 fs-5"></i>
                            <span class="fs-5 fw-semiboldt">14991882505</span>
                        </a>
                        <p class="text-white fs-5 fw-semibold d-flex align-items-center "><i class="bi bi-geo-alt-fill me-2"></i>Nivaldo Bertolo 542</p>
                        <p class="text-white fs-5 fw-semibold d-flex align-items-center "><i class="bi bi-envelope me-2"></i>douglas5422&#64;outlook.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <div class="container">
        <div class="col-12 py-4 d-xl-none">
            <a class="link_outline_none text-dark fs-5 fw-semibold d-flex align-items-center mb-3" href="https://wa.me/14991882505" target="_blank"><i class="bi bi-whatsapp me-2 fs-5"></i>
                <span class="fs-6 fw-semiboldt">14991882505</span>
            </a>
            <p class="text-dark fs-6 fw-semibold d-flex align-items-center "><i class="bi bi-geo-alt-fill me-2"></i>Nivaldo Bertolo 542</p>
            <p class="text-dark fs-6 fw-semibold d-flex align-items-center text-break"><i class="bi bi-envelope me-2"></i>douglas5422&#64;outlook.com</p>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row gap-1 my-xl-5 justify-content-between">
            <div class="col-12 col-sm-7">
                <!-- about -->
                <h5 class="text-dark text-opacity-75 mb-3">Sobre</h5>

                <div class="long_description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed diam sed massa mollis facilisis. Aliquam sollicitudin, ligula sit amet egestas lacinia, diam elit vulputate risus
                        nec imperdiet arcu turpis vitae ante. Nunc porta pellentesque felis, a bibendum velit bibendum eu. Etiam ullamcorper ex eros, vitae auctor lorem blandit non. Donec venenatis varius dui in auctor. Donec elit ex, elementum et elementum quis, vulputate sed turpis.
                    </p>

                    <p>
                        am et quam nisi. Sed mi elit, imperdiet eu lacus at, viverra gravida nunc. Pellentesque pellentesque vestibulum venenatis. Nullam sapien leo, fermentum dictum dui id, porta tempus turpis. Nullam posuere lorem fermentum, lacinia est in, porttitor nibh. Vestibulum non neque eu sem accumsan dapibus eget ut velit.
                    </p>

                    <p>
                        Praesent ullamcorper, nunc nec malesuada pulvinar, est odio maximus ipsum, eget facilisis erat ligula id purus. Quisque tincidunt nisi ipsum, eu rutrum orci ultricies at.
                    </p>
                </div>
            
            </div>
            <div class="col-12 col-sm-4">
                <!-- hours -->
                <h5 class="text-dark text-opacity-75 my-3">Horas</h5>
                <div>
                    Aberto agora
                </div>
                <hr>
                <div>
                    <p class="text-dark text-opacity-75">Localização</p>
                    <p>Nivaldo Bertolo 542 Agudos SP</p>
                </div>
                <hr>
                <div>
                    <p class="text-dark text-opacity-75">redes sociais:</p>
                    <div class="d-flex justify-content-between gap-1 social_media_content">
                        <a href="#" class="icon_social_media rounded-circle bg-primary text-white fs-4"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="icon_social_media rounded-circle bg-primary text-white fs-4"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="icon_social_media rounded-circle bg-primary text-white fs-4"><i class="bi bi-linkedin"></i></a>
                        <a href="#" class="icon_social_media rounded-circle bg-primary text-white fs-4"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>