.form-select {
    max-width: 280px;
}

.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

.logoImage {
    background-color: #c5c4c421;
    border: 2px dashed #64646471;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 120px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverImage {
    background-color: #c5c4c421;
    border: 2px dashed #64646471;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    width: 220px;
    height: 120px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-logo {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.img-cover {
    width: 220px;
    height: 120px;
}

.img-gallery {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

@media screen and (max-width: 475px) {
    .primary_images {
        flex-direction: column;
        align-items: center;
    }
}