.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #FFF;
    background-color: var(--primary);
}

.nav-link {
    color: var(--custom-titles-black);
}

.nav-pills {
    max-width: 470px;
}

.plans_item {
    max-width: 351px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.096);
}

/* Cards listings */
.card-listing {
    max-width: 380px;
    min-width: 250px;
}

.icon_whatsApp {
    font-size: 50px;
}

.plan-level {
    letter-spacing: .3em;
}