<section class="container-fluid my-3">

    <div *ngIf="!type" class="container">
        <h2 class="custom_title fw-semibold text-center my-5 fs-4">Explore por categorias</h2>
        <div class="row gap-2 gap-md-5 justify-content-center p-3">

            <a (click)="searchListingByCategory(category.id)" *ngFor="let category of categories"
                class="link_outline_none text-dark col d-flex flex-column justify-content-center align-content-center p-4 border border-1 rounded-1 text-center category_item cursor_pointer">
                <span translate="no" class="material-symbols-outlined fs-1 mb-1"> {{ category.icon }} </span>
                <p> {{ category.cat_name }} </p>
            </a>

            <a [routerLink]="['/app/anunciantes/categorias']"
                class="link_outline_none text-dark col d-flex flex-column justify-content-center align-content-center p-4 border border-1 rounded-1 text-center category_item">
                <span translate="no" class="material-symbols-outlined fs-1 mb-1">more_horiz</span>
                <p>Mais</p>
            </a>
        </div>
    </div>

    <div *ngIf="type" class="container">
        <div *ngIf="SearchingCategories" class="container d-flex align-content-center gap-2 my-5 searchingCategory">
            <div class="spinner-border p-2" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <h2 class="custom_title fw-bolder m-0 fs-4">Buscando categorias, aguarde...</h2>
        </div>

        <div *ngIf="notResults" class="text-center mb-5 mt-2 field_notResults">
            <img src="../../../assets/img/notFound.png" class="img-fluid img_notFound mb-4" alt="Nenhum resultado encontrado">
            <h1 class="custom_title fw-bolder text-center mb-3">Ops! Nenhuma categoria foi encontrada.</h1>
        </div>


        <div *ngIf="!SearchingCategories && !notResults" class="row justify-content-center gap-2 gap-md-5 p-3 mb-5 show-animation">
            <h2 class="custom_title fw-bolder text-center mb-2 fs-4">Categorias</h2>

            <div class="container mb-3 mb-sm-0 p-2 ">
                <div class="row gap-sm-1">
                    <div class="col-12 col-sm-8 col-md-5">
                        <div class="input-group">
                            <span class="material-symbols-outlined input-group-text">
                                search
                            </span>
                            <input [(ngModel)]="searchItem" type="text" (input)="filterCategories()"
                                class="form-control custom_search" placeholder="Buscar categoria..."
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div *ngFor="let category of searchItensCategory" class="d-flex align-items-center justify-content-center gap-2 col category_item_all">
                <span class="material-symbols-outlined fs-3 mb-1"> {{ category.icon }}</span>
                <a (click)="searchListingByCategory(category.id)"
                    class="link-secondary link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover text-dark cursor_pointer">
                    <p class="m-0 text-nowrap">
                        {{ category.cat_name  }}
                    </p>
                </a>
            </div>
        </div>
    </div>
</section>