/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;
}

:root {
    /* Inputs */
    --custom-input-box-shadow: 0px 0px 3px 0px rgba(116, 166, 240, 0.788);

    /* Font colors */
    --custom-titles-black: #212529;
    --custom-subtitles-black: #212529bf;

    /* font hover */
    --custom-hover-black: #2D2E2F;

    /* Backgrounds */
    --custom-light-gray: #66666628;

    --primary: #4e66f8;
}

/* Custom text colors */
.custom-dark {
    color: var(--custom-titles-black);
}

.custom-subtitle-dark {
    color: var(--custom-subtitles-black);
}

.custom-hr-dark {
    color: #c6c9c9;
}

/* Custom text */
.text-justify {
    text-align: justify;
}

.fs-7 {
    font-size: 0.9rem;
}

.fs-8 {
    font-size: 0.8rem;
}

.fs-9 {
    font-size: 0.7rem;
}

.fs-10 {
    font-size: 0.6rem;
}

/* Custom colors */

.bg-primary {
    background-color: #4e66f8 !important;
}

.text-primary {
    color: #4e66f8 !important;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #4e66f8;
    --bs-btn-border-color: #4e66f8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4257d3;
    --bs-btn-hover-border-color: #3e52c6;
    --bs-btn-focus-shadow-rgb: 105,125,249;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3e52c6;
    --bs-btn-active-border-color: #3b4dba;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #4e66f8;
    --bs-btn-disabled-border-color: #4e66f8;
}

.btn-outline-primary {
    --bs-btn-color: #4e66f8;
    --bs-btn-border-color: #4e66f8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #4e66f8;
    --bs-btn-hover-border-color: #4e66f8;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4e66f8;
    --bs-btn-active-border-color: #4e66f8;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #4e66f8;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #4e66f8;
    --bs-gradient: none;
}

.btn-secondary {
    --bs-btn-color: var(--custom-titles-darkGray);
    --bs-btn-bg: #e4e4e4;
    --bs-btn-border-color: #dbdada;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9d9c9c;
    --bs-btn-hover-border-color: #dbdada;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
}

.bg-ice-white {
    background-color: #f8f9fa;
}

.bg-gray-200 {
    background-color: #e9ecef;
}

.bg-gray-800 {
    background-color: #343a40;
}

/* Helpers */
.cursor_pointer {
    cursor: pointer;
}

.cursor_wait {
    cursor: wait;
}

.link_outline_none {
    text-decoration: none;
}

.letter-spacing-1 {
    letter-spacing: .1em;
}

.letter-spacing-2 {
    letter-spacing: .2em;
}

/* Inputs */
.custom_focus:focus {
    box-shadow: var(--custom-input-box-shadow);
}

.custom_no_feedback {
    background-image: none !important;
}

.custom_placeholder::placeholder {
    color: #b1b1b1 !important;
    font-size: 13px;
}

.invalid_input {
    background-color: #ff000010 !important;
    border: 1px solid #ff000031;
}

/* Animations */
.show-animation {
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.show-animation-2 {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* End Animations */

.custom_spinner_btn {
    height: 22px;
    width: 22px;
}

.toast-body, .toast-body span {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}