<section class="container-fluid px-0">
    <!-- Banner -->
    <div class="bg-primary img_banner position-relative ">
        @if (listing.coverImage) {
            <img class="img_banner img-fluid " [src]="listing.coverImage" alt="Imagem de capa">
        }
        <div class="shadow_img">
            <div class="container">
                <div class="row py-4 pt-3 pt-xl-5">
                    <div class="col-12 col-xl-1 rounded d-flex d-xl-block justify-content-center mb-2">
                        <img class="img_logo img-fluid rounded-1 border border-3" [src]="listing.logoImage ? listing.logoImage : imgDefaultLogo" alt="Imagem de logo">
                    </div>
                    <div class="col-12 col-xl-7 d-flex flex-column align-items-center align-items-xl-start px-3 text-center text-xl-start">
                        <h2 class="fs-1 text-white fw-semibold">{{ listing.title }}</h2>
                        <p class="fs-6 text-white listing_description">{{ listing.summary }}</p>

                        @if (assessments.length) {
                            <span class="assessments d-flex flex-column flex-sm-row justify-content-center align-items-center gap-sm-2 mb-2 mb-sm-4 ">
                                <p class="text-white fw-bold fs-5 mb-0">{{ getAllAssessment().toFixed(1) }}</p>
                                <div>
                                    <ngb-rating [rate]="getAllAssessment()" class="fs-3 allAssessments"></ngb-rating>
                                </div>
                                @if (assessments.length == 1) {
                                    <p class="text-white mb-0 ms-2">{{ assessments.length }} avaliação</p>
                                }@else {
                                    <p class="text-white mb-0 ms-2">{{ assessments.length }} avaliações</p>
                                }
                            </span>
                        }

                        <div class="d-flex gap-2">
                            <button (click)="OpenModalUserAssessment()" class="btn btn-primary rounded-1 fw-semibold ">Avalie</button>
                            @if (listing.phone) {
                                <a href="https://wa.me/{{listing.phone}}" class="btn text-white border rounded-1 fw-semibold" target="_blank"><i class="bi bi-whatsapp me-2"></i>Contato</a>
                            }
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 d-none d-xl-block px-3">
                        @if (listing.phone) {
                            <a class="link_outline_none text-white fs-5 d-flex align-items-center mb-3" href="https://wa.me/{{listing.phone}}" target="_blank"><i class="bi bi-whatsapp me-2 fs-5"></i>
                                <span class="fs-5">{{ listing.phone }}</span>
                            </a>
                        }

                        @if (listing.address) {
                            <div class="text-white mb-3">
                                <i class="bi bi-geo-alt-fill fs-5 me-1"></i>
                                <span class="fs-5">
                                    <span *ngIf="listing.address">{{ listing.address }}</span>
                                    <span *ngIf="listing.city">, {{ listing.city }}</span>
                                    <span *ngIf="listing.state">, {{ listing.state }}</span>
                                </span>
                            </div>
                        }

                        @if (listing.email) {
                            <p class="text-white fs-5 d-flex align-items-center "><i class="bi bi-envelope me-2"></i>{{listing.email}}</p>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row my-xl-5 justify-content-between">
            <div class="col-12 col-lg-8 px-3 mb-3">
                @if (listing.description) {
                    <!-- about -->
                    <h3 class="my-3 custom-dark fw-bold">Sobre</h3>

                    <div class="long_description opacity-75 mb-2 mb-sm-5">
                        <p class="custom-dark">
                            {{ listing.description }}
                        </p>
                    </div>
                    
                    <hr class="custom-hr-dark">
                }

                @if(listing.address) {
                    <h3 class="my-4 custom-dark fw-bold">Localização</h3>

                    <div class="col-12 py-2 d-xl-none">
                        @if (listing.address) {
                            <div class="custom-dark mb-2 fs-5">
                                <i class="bi bi-geo-alt-fill me-1"></i>
                                <span>
                                    <span *ngIf="listing.address">{{ listing.address }}</span>
                                    <span *ngIf="listing.city">, {{ listing.city }}</span>
                                    <span *ngIf="listing.state">, {{ listing.state }}</span>
                                </span>
                            </div>
                        }
                    </div>

                    @if(listing.map) {

                        <div class="listing_map" #mapContainer>
                            <div [innerHTML]="domSanitizer.bypassSecurityTrustHtml(map)"></div>
                        </div>
                    }

                    <hr class="custom-hr-dark">
                }

                <!-- Gallery image -->
                @if(galleryImages.length) {
                    <h3 class="custom-dark fw-bold my-4">Galeria</h3>

                    <div class="container mb-4">
                        <div class="row">
                            @for (img of galleryImages; track $index) {
                                <div class="col-4 col-md-3 p-1 cursor_pointer" (click)="openLightbox($index)"  >
                                    <div class="img-gallery">
                                        <img [src]="img.imgUrl" alt="Imagem">
                                    </div>
                                </div>
                            } 
                        </div>
                    </div>

                    <hr class="custom-hr-dark">
                }
            </div>

            @if(listing.openingHours) {
                <div class="col-12 col-lg-4 p-0">
                    <div class="px-3 mb-4">
                        <div class="shadow rounded-2">
                            <div class="p-4 bg-ice-white">
    
                                @if (isDayOpen()) {
                                    <p class="letter-spacing-1 text-primary fw-semibold mb-1">ABERTO AGORA</p>
                                } @else {
                                    <p class="letter-spacing-1 text-danger fw-semibold mb-1">FECHADO AGORA</p>
                                }
    
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <h4 class="custom-dark fw-bold">Horário de funcionamento</h4>
                                    <i class="fa-regular fa-clock"></i>
                                </div>
                            </div>
                            <div class="d-flex flex-column p-4">
                                @for (day of daysOfWeek; track $index) {
                                    <div>
                                        <div class="d-flex justify-content-between mb-2">
                                            <span class="fw-semibold custom-dark fs-7">{{ day }}</span>
                                        
                                            @if(openingHours[day]) {
    
                                                @if(!openingHours[day].open || !openingHours[day].close) {
                                                    <span>Fechado</span>
                                                } @else {
                                                    <span>
                                                        {{ openingHours[day].open }} - {{ openingHours[day].close }}
                                                    </span>
                                                }
                                            }
                                        
                                            @if(!openingHours[day]) {
                                                <span>Horário não definido</span>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="px-3">
                        <div class="shadow rounded-2">
                            <div class="p-4 bg-ice-white">
                                <p class="letter-spacing-1 text-primary fw-semibold mb-0">DEIXE-NOS UMA MENSAGEM</p>
    
                                <div class="w-100 d-flex align-items-center justify-content-between">
                                    <h4 class="custom-dark fw-bold">Contato</h4>
                                    <i class="fa-regular fa-pen-to-square icon-social-medias"></i>
                                </div>
                            </div>
                            <div class="d-flex gap-2 flex-column p-4">
                                @if (listing.phone) {
                                    <a class="link_outline_none" href="https://wa.me/{{listing.phone}}" target="_blank">
                                        <span class="custom-dark fs-6 opacity-75"><i class="fa-brands fa-whatsapp me-3"></i>{{ listing.phone }}</span>
                                    </a>
                                }

                                @if (listing.email) {
                                    <a class="link_outline_none" href="mailto:{{listing.phone}}" target="_blank">
                                        <span class="custom-dark fs-6 opacity-75"><i class="fa-regular fa-envelope me-3"></i>{{ listing.email }}</span>
                                    </a>
                                }

                                @if(listing.url) {
                                    <a class="link_outline_none" [href]="listing.url" target="_blank">
                                        <span class="custom-dark fs-6 opacity-75"><i class="fa-solid fa-globe me-3"></i>{{ listing.url }}</span>
                                    </a>
                                }

                                @if(listing.facebook) {
                                    <a class="link_outline_none" [href]="listing.facebook" target="_blank">
                                        <span class="custom-dark fs-6 opacity-75"><i class="fa-brands fa-facebook me-3"></i>Facebook</span>
                                    </a>
                                }

                                @if(listing.instagram) {
                                    <a class="link_outline_none" [href]="listing.instagram" target="_blank">
                                        <span class="custom-dark fs-6 opacity-75"><i class="fa-brands fa-instagram me-3"></i>Instagram</span>
                                    </a>
                                }

                                @if(listing.linkedIn) {
                                    <a class="link_outline_none" [href]="listing.linkedIn" target="_blank">
                                        <span class="custom-dark fs-6 opacity-75"><i class="fa-brands fa-linkedin me-3"></i>LinkedIn</span>
                                    </a>
                                }

                                <div class="d-flex justify-content-center mt-3 my-2">
                                    <button type="button" class="btn btn-outline-primary"><i class="fa-regular fa-paper-plane me-2"></i>ENVIE UM MENSAGEM</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Reviews -->
        @if (assessments.length) {
            <div class="row px-3 my-5">
                <div class="col-12 col-md-8">
                    <p class="text-primary fw-semibold letter-spacing-1 fs-6 p-0 m-0">AVALIAÇÕES</p>
                    <h4 class="custonm-dark fw-bold p-0 mb-5">Lista de avaliações</h4>

                    @for (assessment of assessments; track $index) {
                        <div class="d-flex w-100">
                            <div class="d-flex flex-column align-items-center gap-2">
                                <img class="img-fluid rounded-circle img_user border border-5 border-white shadow" [src]="assessment.photo_url ? assessment.photo_url : imgDefaultUser" alt="Usuário">
                                <p class="custom-dark opacity-75 fs-7 text-center">{{ formatDateAssessment(assessment.createdAt) }}</p>
                            </div>
                            <div class="ms-3 w-100">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h6 class="fs-6 fw-semibold text-primary text-opacity-75 mb-0">{{ assessment.name }} {{ assessment.lastName }}</h6>

                                    @if(user.id === assessment.user) {
                                        <div class="d-flex justify-content-end gap-3">
                                            <i (click)="openModalUserAssessmentDelete(assessment)" class="fa-solid fa-trash-can text-danger cursor_pointer fs-5"></i>
                                            <i class="fa-solid fa-pen-to-square text-primary cursor_pointer fs-5"></i>
                                        </div>
                                    }
                                </div>
                                <div class="mb-2">
                                    <div class="ms-0 user_assessments">
                                        <ngb-rating [rate]="assessment.assessment" class="fs-4"></ngb-rating>
                                    </div>
                                </div>
                                <div>
                                    <p class="custom-dark opacity-75 fs-6">{{ assessment.comment }}</p>
                                </div>
                            </div>
                        </div>
                        <hr class="custom-hr-dark">
                    }
                </div>
            </div> 
        }
    </div>

    <ng-template #modalAssessment let-c="close" let-d="dismiss">
        <div class="position-relative banner_assessment mb-5">

            @if(listing.coverImage) {
                <img class="img-fluid rounded-top h-100" [src]="listing.coverImage" alt="Imagem de capa">
            }

            <i class="fs-4 bi bi-x-lg position-absolute close_modal_assessment text-white cursor_pointer" aria-label="Close" (click)="d('Cross click')"></i>

            <img class="img-fluid rounded-pill position-absolute logo_assessments" [src]="listing.logoImage ? listing.logoImage : imgDefaultLogo" alt="Imagem de logo">

            <div class="shadow_img_assessments"></div>
        </div>

        <h5 class="fs-3 custom-dark fw-semibold opacity-75 text-center">{{ listing.title }}</h5>
        <h6 class="fs-4 custom-dark fw-semibold opacity-75 text-center">Sua nota</h6>
        <div class="d-flex justify-content-center user_assessments">
            <ngb-rating [(rate)]="rating" [readonly]="false" class="fs-1"></ngb-rating>
        </div>
        <p *ngIf="notAssessment" class="text-center mb-0 text-danger fw-semibold opacity-75">Sua nota é importante.</p>

        <form [formGroup]="formAssessment" (ngSubmit)="submitAssessment()" class="p-4">
            <textarea maxlength="130" (input)="countCaracterComment()" #commentAssessment class="form-control custom_focus custom_placeholder" name="comment" id="comment" placeholder="Seu comentário" rows="4" formControlName="comment" [ngClass]="{'invalid_input': formAssessment.get('comment')?.invalid && formAssessment.get('comment')?.touched}"></textarea>
            <p class="mt-1 fw-semibold opacity-50 custom-dark max_caracter text-end">{{ currentLengthComment }} caracteres restantes</p>
            <div *ngIf="formAssessment.get('comment')?.invalid && formAssessment.get('comment')?.touched" class="text-danger fw-semibold opacity-75">
                Digite seu comentário.
            </div>
            <div class="d-flex gap-2 justify-content-center mt-3">
                <button class="btn btn-primary rounded-1 fw-semibold" [disabled]="spinnerNewAssessments">
                    @if(!spinnerNewAssessments){ 
                        <span>Enviar</span>
                    }@else {
                        <div class="d-flex gap-2">
                            <div class="spinner-border spinner-border custom_spinner_btn m-0 text-light" role="status"></div>
                            <span>Aguarde...</span>
                        </div>
                    }
                </button>
                <button type="button" class="btn btn-light rounded-1 custom-dark fw-semibold opacity-75 border" aria-label="Close" (click)="d('Cross click')">Cancelar</button>
            </div>
        </form>
    </ng-template>

    <ng-template #modalAssessmentDelete let-c="close" let-d="dismiss">
        <div class="p-3" id="modal_delete_assessment">
            <div class="d-flex gap-4">
                <div class="pt-2">
                    <i class="fa-solid fa-triangle-exclamation text-danger"></i>
                </div>
                <div>
                    <h4 class="custom-dark">Excluir avaliação</h4>
                    <p>Você tem certeza que deseja excluir essa avaliação? Essa ação não poderá ser desfeita.</p>
                </div>
            </div>
            <div class="d-flex justify-content-end gap-2">
                <button type="button" class="btn border" aria-label="Close" (click)="d('Cross click')">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deleteAssessment()" [disabled]="spinnerDeleteAssessments">
                    @if (!spinnerDeleteAssessments) {
                        <span>Excluir</span>
                    }@else {
                        <div class="d-flex gap-2">
                            <div class="spinner-border spinner-border custom_spinner_btn m-0 text-light" role="status"></div>
                            <span>Aguarde...</span>
                        </div>
                    }
                </button>
            </div>
        </div>
    </ng-template>
</section>
<app-footer></app-footer>